// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

a {
  color: inherit;
  text-decoration: inherit;
}

.fc .fc-button {
  font-size: 0.9em;
}

.fc-day-sat {
  color: blue;
}

.fc-day-sun,
.fc-day-hol {
  color: red;
}